@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main-title {
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px 20px 150px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  height: 110px;
  width: 110px;
  position: absolute;
  left: 20px;
  top: -30px;
}

.img-container .img-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
}

.img-container .img-stick {
  position: absolute;
  top: 7%;
  left: 31.5%;
  width: 5px;
  height: 53%;
  transform: rotate(-45deg);
  background-color: #000;
  border-radius: 8px;
  z-index: 10;
}

.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation controls */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  color: #defbdf;
  border: 0;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.action-btn:focus {
  outline: none;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

/* Music info and progress bar */

.music-info {
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(0);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
  margin: 10px 0;
  cursor: pointer;
}

.progress {
  height: 100%;
  background-color: #fe8daa;
  border-radius: 5px;
  width: 0%;
  transition: width 0.1s linear;
}

.duration {
  text-align: right;
}
